nav {
    margin-bottom: 2rem; 
    height: 4rem;
}

.container-fluid {
    padding-right: 3rem;
}

.arrow-div {
    margin-left: 3rem;
    padding: 0;
}

.double-button {
    margin-left: 42%;
}

.previous-card-group {
    margin-left: 5%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.eye-card {
    display: flex;
    flex-direction: row;
}

.eye-icon {
    margin-left: 1.5rem;
}

.footer {
    height: 5rem;
    background-color: black;
}

/* .eye-icon {
    margin-left: 1rem;
} */

