<!-- <p>mes-activites works!</p> -->


<nav class="navbar navbar-light bg-light " >
    <div class="container-fluid">
        <div class="arrow-div">
            <a href="" [routerLink]="['/compte/id']">
                <i class="bi bi-arrow-left" style="color: black;"></i>
            </a>
        </div>
        
        <i class="bi bi-list"></i>
    </div>
</nav>

<div class="double-button">
    <button type="button" class="btn btn-primary btn-lg" style="border-radius: 0px;" (click)= "displayActive(true)">A venir</button>
    <button type="button" class="btn btn-secondary btn-lg" style="border-radius: 0px;" (click)= "displayActive(false)">Passées</button>
</div>


<div class="actived" *ngIf="Active">
    <div class="previous-card-group" *ngFor="let activity of previousActivities">
        <div class="eye-card">
            <div class="card" style="width: 18rem;">
                <img src="../assets/images/eiffel-tower.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{activity.title}}</h5>
                    <p class="card-text">{{activity.description}}</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
            <i class="bi bi-eye-fill eye-icon" (click)="hideActivity(activity.id)"></i>
        </div>
    </div>
</div>





<div *ngIf="!Active">
    <div class="previous-card-group" *ngFor="let activity of previousActivities">
        <div class="eye-card">
            <div class="card" style="width: 18rem;">
                <img src="../assets/images/eiffel-tower.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{activity.title}}</h5>
                    <p class="card-text">{{activity.description}}</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
            <i class="bi bi-eye-fill eye-icon" (click)="hideActivity(activity.id)"></i>
        </div>
    </div>
</div>


<div class="footer">
    
</div>

    