<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi bi-arrow-left-circle" style="font-weight:bolder;"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex">
            <button class="btn btn-outline-success m-2" type="submit" [routerLink]="['/login']">Connexion</button>
            <button class="btn btn-outline-success m-2" type="submit" [routerLink]="['/login']">Inscription</button>
        </form>
        </div>
    </div>
</nav>

<header  class="container-fluid">
    <div class="container d-flex">
        <div class="row">
            <div class="col container-fluid">
                <img src="{{imgprofil}}" id="imgprofil" alt="image de profil">
            </div>
            <div class="col" id="inputgroup">
                <div class="input-group">
                    <div class="input-group-text bg-transparent border-0">
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="{{user ? user.name: ''}}">
                </div>
                <!-- <div style="margin: 15%;">
                    <input type="text" placeholder="{{user ? user.name: ''}}" readonly>
                </div> -->
                <div class="input-group">
                    <div class="input-group-text bg-transparent border-0">
                        <i class="bi bi-geo"></i>
                    </div>
                    <input type="text" class="form-control textarea-autosize" placeholder="{{user ? user.region: ''}}">
                </div>
                <!-- <div style="margin: 15%;">
                    <input type="text" placeholder="{{user ? user.region: ''}}" readonly>
                </div> -->
                <button class="btn btn-success" id="btn-modif">
                    <i class="bi bi-pencil-square icon-modif"></i>
                </button>
            </div>
            
        </div>
    </div>
</header>



<div id="boutons">

    <button class="btn btn-light btn-activity"><i class="bi bi-tsunami icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-wrench icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-wind icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-robot icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-life-preserver icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-music-note-beamed icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-incognito icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-film icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-dribbble icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-dice-6 icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-controller icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-cart icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-camera-reels icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-camera icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-boombox icon-activity"></i></button>
    <button class="btn btn-light btn-activity"><i class="bi bi-binoculars icon-activity"></i></button>

</div>



<div class="d-grid gap-2 m-2 col-11 mx-auto">
    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/mes_activites/:userid']"> <i class="bi bi-activity"></i> Activités </button>
    <!-- routerLink Activity -->

    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/messages','dfjdfjd']"><i class="bi bi-envelope"></i> Messages</button>
    <!-- routerLink Messagerie -->

    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/parametres/:userid']">
        <i class="bi bi-tools"></i> Paramètres</button>
    <!-- routerLink Params -->

    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/paiement/:userid']"><i class="bi bi-credit-card"></i> Paiements</button>
    <!-- routerLink Paiement -->

    <button class="btn btn-outline-secondary btn-lg btn-menu" type="button" [routerLink]="['/contact/:userid']"> <i class="bi bi-patch-question"></i> Aides</button>
    <!-- routerLink Aides -->
</div>


<div class="fixe-bottom">
    <img src="/assets/img/logo.png" alt="logo" id="footerimg">
</div>
